VITE_FIREBASE_API_KEY=AIzaSyC2foBHNbouip-lRI48WG1wxpnKx_N8qgc
VITE_FIREBASE_AUTH_DOMAIN=kisan-family-academy-a1733.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kisan-family-academy-a1733
VITE_FIREBASE_STORAGE_BUCKET=kisan-family-academy-a1733.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=889901178370
VITE_FIREBASE_APP_ID=1:889901178370:web:ab7c27befb74da3942911b
VITE_ADMIN_EMAILS=haraikpriya@gmail.com,priyaharaikbuisness@gmail.com